@import "tailwindcss";

@theme {
  --animate-stroke-dashoffset: 5s linear infinite dashoffset;
  @keyframes dashoffset {
    from {
      stroke-dasharray: 260;
      stroke-dashoffset: 0;
    }
    to {
      stroke-dasharray: 260;
      stroke-dashoffset: 1000;
    }
  }
}

@layer base {
  html,
  body,
  #root {
    @apply size-full p-0 m-0;
  }
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility flex-col-center {
  @apply flex flex-col items-center;
}
